@font-face {
  font-family: Goose;
  src: url(../../fonts/goose.ttf);
}

@font-face {
  font-family: gLight;
  src: url(../../fonts/gLight.ttf);
}

@font-face {
  font-family: gSmall;
  src: url(../../fonts/gSmall.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #3d8d7a;
  color: #fbffe4;
}

.pageContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.store {
  margin-top: 20px;
  font-family: Goose;
  font-size: 100px;
  margin-bottom: 0px;
}

.h2 {
  font-family: gLight;
  font-size: 40px;
  margin-top: 20px;
}

.ul {
  margin-top: 50px;
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  font-family: gSmall;
  margin-bottom: 20px;
  margin-right: 20px;
}

.img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .store {
    font-size: 70px;
  }
  .h2 {
    font-size: 20px;
  }
}
