/* fix spacing in cards */

@font-face {
  font-family: gLight;
  src: url(../../fonts/gLight.ttf);
}

* {
  box-sizing: border-box;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: gLight;
  color: #fbffe4;
  font-size: 60px;
}

.productWrapper {
  margin: 50px;
  margin-top: 100px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0px;
  margin: 0px;
  margin-top: 75px;
}

.productCard {
  justify-self: center;
  border-radius: 15px;
  width: 400px;
  height: 700px;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px #333;
}

.productImg {
  display: block;
  height: 60%;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  object-fit: contain;
}

.infoBox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: sans-serif;
  height: 40%;
  padding: 10px;
}

.textBox {
  margin-top: 10px;
}

.productName {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.productCategory {
  width: fit-content;
  padding: 8px;
  margin-top: 15px;
  font-size: 15px;
  color: white;
  background-color: #3d8d7a;
  border-radius: 50px;
}

.productPrice {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #3d8d7a;
}

.productBtnContainer {
  display: flex;
}

.amountContainer {
  height: 50px;
  display: flex;
  margin-right: 20px;
  border: 2px solid #3d8d7a;
  border-radius: 6px;
}

.productNum,
.add,
.subtract {
  width: 60px;
  height: 100%;
  color: #3d8d7a;
}

.productNum {
  border-left: 1px solid #3d8d7a;
  border-right: 1px solid #3d8d7a;
}

.subtract {
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.add {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.addCart {
  width: 200px;
  background-color: #3d8d7a;
  color: white;
  border: 2px solid #3d8d7a;
  border-radius: 10px;
}

.productNum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover,
.subtract:hover,
.addCart:hover {
  filter: brightness(90%);
}

@media (max-width: 1000px) {
  .productWrapper {
    margin: 10px;
    margin-top: 100px;
  }
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .productCard {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .productWrapper {
    width: 95vw;
  }
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
  .productCard {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .productCard {
    width: 300px;
  }
}
