/*subtract
productNum add*/

@font-face {
  font-family: gLight;
  src: url(../../fonts/gLight.ttf);
}

.productWrapper {
  margin: 50px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0px;
  margin: 0px;
}

.productCard {
  border-radius: 15px;
  width: 400px;
  height: 500px;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px #333;
}

.productImg {
  display: block;
  height: 60%;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  object-fit: contain;
}

.infoBox {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 40%;
  padding: 10px;
}

.textBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.productName {
  font-size: 18px;
}

.productPrice {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: #3d8d7a;
}

.productBtnContainer {
  display: flex;
}

.addCart {
  background-color: white;
  color: #3d8d7a;
  border: 2px solid #3d8d7a;
  border-radius: 10px;
}

.addCart:hover {
  background-color: #3d8d7a;
  color: white;
}
