@font-face {
  font-family: gLight;
  src: url(../../fonts/gLight.ttf);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: gLight;
  color: #fbffe4;
  font-size: 60px;
}

.cartList {
  margin-top: 75px;
  margin-left: 20px;
}

.cartItemCard {
  display: flex;
  color: black;
  font-weight: 100;
  border: black 1px solid;
  height: 200px;
  width: 50vw;
  font-family: sans-serif;
}

.itemImage,
.itemTitle,
.itemPrice,
.itemAmount {
  border: 1px solid white;
  text-align: left;
}

.itemImage {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.itemImageContainer {
  height: 100%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemInfo div {
  font-size: 25px;
  color: white;
}
