@font-face {
  font-family: Goose;
  src: url(../../fonts/goose.ttf);
}

.navBar {
  height: 65px;
  width: 100vw;
  background-color: #b3d8a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  font-family: Goose;
  color: #fbffe4;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.navButton:hover {
  color: #3d8d7a;
  text-decoration: underline;
}
