@font-face {
  font-family: Goose;
  src: url(../../fonts/goose.ttf);
}

.navBar {
  height: 65px;
  width: 100%;
  background-color: #b3d8a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  margin-left: 50px;
}

.home,
.products,
.checkout {
  font-family: Goose;
  color: #fbffe4;
  font-size: 30px;
  margin-right: 20px;
}

.checkout {
  margin-right: 65px;
}

.home:hover,
.products:hover,
.checkout:hover {
  color: #3d8d7a;
  text-decoration: underline;
}
