@font-face {
  font-family: Goose;
  src: url(../../fonts/goose.ttf);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: #b3d8a8;
}

.leftSide {
  margin-left: 50px;
}

.rightSide {
  display: flex;
  width: 60px;
  position: relative;
}

.home,
.products {
  margin-right: 20px;
}

.home,
.products,
.checkout,
.itemCounter {
  font-family: Goose;
  color: #fbffe4;
  font-size: 30px;
}

.itemCounter {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #3d8d7a;
  background-color: #3d8d7a;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 15px;
}

.home:hover,
.products:hover,
.checkout:hover {
  color: #3d8d7a;
  text-decoration: underline;
}
